@{
    ViewData["Title"] = "Home Page in English";
}

<div class="text-center">
    <h1 class="display-4">Concern about the University</h1>
    <p>Reflections on the contemporary role of the University</a>.</p>
</div>

<div class="OutlineElement Ltr SCXW16581400 BCX2" style="direction: ltr;">
    <div class="OutlineElement Ltr  BCX2 SCXW13230723" style="direction: ltr;">
        <p>
            Hello! My name is Przemek and I have been involved in science for over 10 years, both as an active higher education researcher and a member of the academic community. My research interests are in the field of higher education, where the university and its role in society have a special place. I have a feeling that today's university is in a deep crisis of its own identity and there is a need to redefine its role in society, and to separate the general education model (how necessary!) From specialist vocational training.
        </p>
        <p>
            I am graduated in 5 fields of study (resocialization, philosophy, sociology, cognitive science and computer science) and I actively work in the field of IT, and additionally I try to develop research and teaching activities. I have at heart both teaching the young generation and caring for the quality of Polish science.
        </p>
        <p>
            Apart from higher education, I also research the area of ​​Science Technology Studies (STS), which clearly correlates with my work in the IT sector.
        </p>
        <p>
            Privately, I am a husband for nearly 10 years, a father of 3 children and a Christian (Baptist).
        </p>
        <p>
            I cordially invite you to visit my profile on <a href="https://www.researchgate.net/profile/Przemyslaw_Chmielecki">ResearchGate</a> and <a href="https://wbst.academia.edu/PrzemysławChmielecki">Academia.edu</a> , where you will find some interesting articles on Higher Education and Science Technology Studies (STS).
        </p>
        <p>
            If you want to support my research, feel free to transfer your funds directly to <a href="https://www.paypal.com/paypalme/pchmielecki87">personal PayPal account</a> or please visit the <a href="https://patronite.pl/TroskaoUniwersytet">Patronite</a> website [Polish only].
        </p>
    </div>
</div>
<div class="OutlineElement Ltr SCXW16581400 BCX2" style="direction: ltr;"><br></div>
<img src="https://cdn.pixabay.com/photo/2015/11/19/21/11/knowledge-1052014_1280.jpg" class="center" />
</br>