@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Troska o Uniwersytet</h1>
    <p>Rozważania nad współczesną rolą Uniwersytetu</a>.</p>
</div>

<div class="OutlineElement Ltr SCXW16581400 BCX2" style="direction: ltr;">
    <div class="OutlineElement Ltr  BCX2 SCXW13230723" style="direction: ltr;">
        <p>
            Witaj! Mam na imię Przemek i od ponad 10 lat zajmuję się nauką zarówno jako aktywny badacz szkolnictwa wyższego, jak i członek społeczności akademickiej. Moje zainteresowania badawcze lokują się w obszarze szkolnictwa wyższego, gdzie szczególne miejsce zajmuje uniwersytet i jego rola w społeczeństwie. Mam poczucie, że dzisiejszy uniwersytet znajduje się w głębokim kryzysie własnej tożsamości i potrzeba na nowo określić jego rolę w społeczeństwie, a także oddzielić model kształcenia ogólnego (jakże potrzebnego!) od specjalistycznego kształcenia zawodowego.
        </p>
        <p>
            Sam jestem absolwentem 5 kierunków studiów (resocjalizacja, filozofia, socjologia, kognitywistyka i informatyka) i aktywnie pracuje w obszarze IT, a dodatkowo staram się rozwijać działalność badawczą i dydaktyczną. Leży mi na sercu zarówno uczenie młodego pokolenia, jak i dbanie o jakość rodzimej nauki.
        </p>
        <p>
            Poza szkolnictwem wyższym badam także obszar Science Technology Studies (STS), co wyraźnie koreluje z moją pracą w sektorze IT.
        </p>
        <p>
            Prywatnie jestem mężem od blisko 10 lat, ojcem 3 dzieci i Chrześcijaninem (Baptystą).
        </p>
        <p>
            Serdecznie zapraszam do odwiedzenia mojego profilu na <a href="https://www.researchgate.net/profile/Przemyslaw_Chmielecki">ResearchGate</a> i <a href="https://wbst.academia.edu/PrzemysławChmielecki">Academia.edu</a> , gdzie znajdziesz kilka ciekawych artykułów dotyczących szkolnictwa wyższego i STS.
        </p>
        <p>
            Jeśli chcesz wesprzeć moje badania to zapraszam do przelewu środków bezpośrednio na <a href="https://www.paypal.com/paypalme/pchmielecki87">osobiste konto PayPal</a> lub wizytę na serwisie <a href="https://patronite.pl/TroskaoUniwersytet">Patronite</a> (prowizja serwisu).
        </p>
    </div>
</div>
<div class="OutlineElement Ltr SCXW16581400 BCX2" style="direction: ltr;"><br></div>
<img src="https://cdn.pixabay.com/photo/2015/11/19/21/11/knowledge-1052014_1280.jpg" class="center" />
</br>